* {
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body, input {
	font-family: monospace;
	font-size: 15px;
}

body {
	display: flex;
	flex-flow: column;
}

.content {
	margin: auto;
	padding: 20px;
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 40em;
	max-width: 100%;
}

.content > * {
	width: 100%;
	text-align: center;
}

h1 {
	font-size: 2em;
	margin: 0;
}

h2 {
	font-size: 1.5em;
	margin-top: 0;
}

.row {
	display: flex;
	margin: 10px;
	margin-top: 15px;
	height: 25px;
}

.row.buttons {
	justify-content: center;
}

.row.view {
	position: relative;
	overflow: visible;
	align-items: stretch;
}

.row.view .copy-me {
	display: inline-block;
	position: absolute;
	right: 5px;
	top: -20px;
	height: 20px;
	width: auto;
	padding: 2px 5px;
	font: 13px monospace;
	transition: box-shadow 1s;
	box-shadow: 0 0 10px rgba(0, 0, 255, 0);
}

.row.view .copy-me:active {
	transition: none;
	box-shadow: 0 0 0px rgba(0, 0, 255, 255);
}

.row.view label {
	display: inline-flex;
	align-items: stretch;
	flex-grow: 1;
	padding-left: 10px;
	line-height: 25px;
}

.row.view label:first-of-type {
	padding-left: 0;
}

.row.view .expandable {
	display: inline-flex;
	width: 100%;
}

.row.view input {
	flex-grow: 1;
	text-align: right;
	width: 0;
	height: 100%;
}

input:invalid {
	background-color: #ff000030;
}

.info {
	margin: 10px;
	font-family: sans-serif;
	font-style: italic;
	line-height: 1.5;
	color: #5f5f5f;
}

.info code {
	display: inline-block;
	border: 1px solid #0006;
	border-radius: 3px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
	padding: 0 2px;
}

@media (max-width: 600px) {
	.row.view {
		flex-flow: column;
		height: unset;
	}

	.row.view.column-mobile .copy-me {
		top: 5px;
	}
	
	.row.view label {
		padding-left: 0;
	}
	
	.row.view.column-mobile label {
		flex-flow: column;
	}

	.row.view .space-at-end-mobile::after {
		content: "\00a0";
	}
	
	.row.view input {
		height: 25px;
	}

	.info code {
		display: inline;
	}
}
